doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title INGRESAR
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet" href="/css/CRUDstyles.css")
        link(rel="stylesheet", href="/css/bootstrap.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
a.btn-regresar(href='/user/') Regresar
if errores
  div(class="row justify-content-center text-bg-danger" )
    div(class="col-md-5")
      each er in errores
        h1(class="fw-bold fs-6")=er.msg
.d-flex.justify-content-center.align-items-center.vh-100
  form(style='width: 50rem;' action="/user/finalizarCompra" method="POST" noValidate)
    .m-3.mb-2
        input(type="hidden" name="_csrf" value=csrf)
        label.form-label.m-3(for='metodo') Seleccione una tarjeta
        select#metodo.form-control(name="metodo")
          each opcion in opcionesPago
            option(value=opcion.id_datopago) #{opcion.beneficiario}
        label.form-label.m-3(for='usuario') ¿No tienes una tarjeta registrada? 
        a.btn.btn-primary(href='/user/registrarTarjeta') Añade tarjeta
        label.form-label.m-3(for='text') Resumen de la compra
        table
          thead
            tr
              th Imagen
              th Nombre
              th Precio
              th Cantidad
              th Total
          tbody
            each producto in carrito
              tr
                td
                  img(class="carrito-img" src=`/img/caratulas/${producto.id}.jpg` alt=`Imagen de ${producto.nombre}` width="50")
                td= producto.nombre
                td= `$${producto.precio.toFixed(2)}`
                td= producto.cantidad
                td= `$${(producto.precio * producto.cantidad).toFixed(2)}`
          tfoot
            tr
              td(colspan="4") Total
              td= `$${carrito.reduce((sum, producto) => sum + (producto.precio * producto.cantidad), 0).toFixed(2)}`    
        br
        button.btn.btn-primary(type='submit') Pagar
        br
