doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CONSOLAS
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/bootstrap.bundle.js")
    script(src="/js/pooper.min.js")
    body
      //- Renderiza un header diferente basado en la variable `userLoggedIn`
      if userLoggedIn
        include ../layout/headerUsuario.pug
      else
        include ../layout/header.pug

    .container
      //- Sección PlayStation
      .row(style='gap: 2rem; padding: 20px;')
        h1 PlayStation
        if playstation.length
          each con in playstation
            .col
              .card(style='width: 16rem; height: 24rem;')
                img.card-img-top(src='/img/consolap.jpg' alt='...' style='width: 12rem; height: 12rem;')
                .card-body
                  h5.card-title=`${con.nombre}`
                  p.card-text=`${con.precio.toFixed(2)}`
                  a.btn.btn-primary.mb-2(href='/log') Añadir al carrito
        else
          p.text-muted No hay productos disponibles.

      //- Sección Xbox
      .row(style='gap: 2rem; padding: 20px;')
        h1 Xbox
        if xbox.length
          each con in xbox
            .col
              .card(style='width: 16rem; height: 24rem;')
                img.card-img-top(src='/img/consolax.jpg' alt='...' style='width: 12rem; height: 12rem;')
                .card-body
                  h5.card-title=`${con.nombre}`
                  p.card-text=`${con.precio.toFixed(2)}`
                  a.btn.btn-primary.mb-2(href='/log') Añadir al carrito
        else
          p.text-muted No hay productos disponibles.

      //- Sección Nintendo
      .row(style='gap: 2rem; padding: 20px;')
        h1 Nintendo
        if nintendo.length
          each con in nintendo
            .col
              .card(style='width: 16rem; height: 24rem;')
                img.card-img-top(src='/img/consolan.jpg' alt='...' style='width: 12rem; height: 12rem;')
                .card-body
                  h5.card-title=`${con.nombre}`
                  p.card-text=`${con.precio.toFixed(2)}`
                  a.btn.btn-primary.mb-2(href='/log') Añadir al carrito
        else
          p.text-muted No hay productos disponibles.

